.siteHeader {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

#addTask {
    color: white;
    background-color: rgb(115, 113, 113);
    margin:0 auto;
    display:block;
}
.form-group{
    padding: 2px;
    margin: 15px;
}

#exampleInputDescription{
    padding: 7px;
    height: 100px;
}
.form-select{
    margin: 15px;
margin-right: 300px;}
  
.modal-footer{
    margin-block-start: 50px;
}
